{% extends "layout.html" %}
{% block title %}Home - ChaiHeadQ{% endblock %}

{% block content %}
    <h1 class="text-light">Welcome to ChaiHeadQ</h1>
    <p class="text-muted">Your one-stop platform for sharing and discovering tweets.</p>
    <a href="{% url 'tweet_create' %}" class="btn btn-primary mb-4">Create Tweet</a>
     <div class="container row gap-3">
{% for tweet in tweets %}
<div class="card" style="width: 18rem;">
<img src="{{tweet.image.url}}" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">{{ tweet.user.username }}</h5>
<p class="card-text">{{ tweet.text }}</p>
{% if tweet.user == user %}

<a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
<a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
</div>

{% endfor %}
</div>
{% endblock %}